/* First section styles */

* {
  font-family: "Rubik", sans-serif;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

b {
  font-weight: 500;
}

.justified-text {
  display: block; 
  text-align: justify; 
  text-indent: 2em;
}

.navbar {
  left: 0;
  top: 0;
  font-size: 15px;
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  /* border-bottom: 1px solid gray; */
  margin: auto;
  /* background-color: rgba(0, 0,0, 0.1); */
  z-index: 1000;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.nav-links {
  display: flex;
  margin-right: 5%;
}

.nav-btn {
  width: auto;
  text-align: center;
  margin: 0 15px;
}

.full-section {
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px black;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: hidden;
}

.container, .container-fluid {
  height: auto;
  max-height: 100vh;
}

/* Landing Page */

.separator-gradient {
  border: none;
  /* border-top: 3px solid; */
  opacity: 1;
  background: linear-gradient(90deg, #164cc0, #91149f);
  height: 3px; /* Optional: control thickness */
  margin: 20px 0;
}

.landing-page {
  height: 100vh;
  background-size: cover; 
}

.fade-in {
  opacity: 0; 
  transform: translateY(20px);
  animation: fadeIn 1.5s ease-out forwards; 
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.social-links {
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.social-links a {
  text-decoration: none;
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a.linkedin {
  color: #038ed8;
}

.social-links a.linkedin:hover {
  color: #0077b5; 
  transform: scale(1.3); 
}

.social-links a.github, .social-links a.medium {
  color: #a5a5a5;
}

.social-links a.github:hover, .social-links a.medium:hover {
  color: #333;
  transform: scale(1.3); 
}


.fixed-header {
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 1000;
}

/* Sobre */

.about {
  height: 100vh;
  overflow-y: auto;
  color: #333;
  font-size: 14px;
  /* background-color: #b6bcc1; */
}

.about .container-fluid {
  height: 85%;
}

/* Formação */
/* Timeline */
.timeline {
  text-align: center;
  position: relative;
  padding: 20px 0;
  list-style: none;
}

.timeline-img {
  flex: 0 0 100px;
  /* margin-right: 20px; */
}

.timeline-img img {
  width: 60px;
  height: 60px;
  /* border-radius: 50%; */
  object-fit: contain;
}

.timeline-content {
    /* width: 60px; */
  width: 100%;
  flex: 1;
}

.timeline-content p {
  margin: 0 0 5px;
  font-size: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #666;
}

.education {
  /* font-size: 12px; */
  border: #66666666 1px solid;
  border-radius: 10px;
  margin-top: 10px;
}

.experiences {
  border: #66666666 1px solid;
  border-radius: 10px;
  margin-top: 10px;
}

/* Skills */
.skills{
  height: 100vh;
  overflow-y: auto;
  color: #333;
  /* background-color: #b6bcc1; */
}

.skills .container{
  width: 80%;
  margin: auto;
  /* height: 80%; */
  /* border: #66666666 1px solid; */
  /* border-radius: 10px; */
}

.skills-img {
  flex: 0 0 100px;
  /* margin-right: 20px; */
}

.skills-img img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  /* border-radius: 50%; */
  object-fit: contain;
}

.skills-content {
    /* width: 60px; */
  width: 100%;
  flex: 1;
}

.skills-content p {
  margin: 0 0 5px;
  font-size: 14px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #333;
}

.projects .container-fluid {
  max-height: none;
}

.projects-row {
  /* max-height: 70vh; Set the maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px; /* Prevent scrollbar from overlapping content */
  /* border: 1px #3333334c solid; */
  border-radius: 3px;
}

.projects-row .card{
  font-size: 14px;
}

.projects-row .card-body{
  height: 170px;
}

.projects-row .card-footer{
  /* border-radius: none; */
  border: none;
  /* background-color: ; */
}

.btn-primary {
  background-color: #5a149f;
}

.btn-primary:hover {
  background-color: #83149f;
} 

/* Contact */ 
.contact {
  font-size: 14px;
}

.contact-form{
  width: 60%;
  margin: auto;
}

/* Footer */

footer{
  font-size: 12px;
}

/* General */

